.header {
    height: 100px;
    background-color: rgb(50, 53, 53);
    padding: 10px;
}

.ulMenu {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
}

.ulSubMenu {
    font-size: 18px;
    padding-left: 10px;
    max-height: 0;
    overflow: hidden;
}

.liMenu:hover .ulSubMenu {
    max-height: 100vh;
}

.Link:hover {
    color: rgb(0, 0, 0);
}

.liMenu, .liSubMenu {
    list-style-type: none;
}